@font-face {
  font-family: 'brandon-text';
  src: url('/Users/wesleyluk/fec/Menu/public/Brandon Text/HVD Fonts - BrandonText-Thin.otf') format('opentype');
}

.name {
  font-family: 'brandon-text';
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0;
  font-weight: bold;
}

.dishContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}